*.jl.cov
*.jl.mem
*~
.idea/
target/
project/
*.class
*.jar
.juliahistory
*.iml
*.log
nohup.out
docs/build
docs/site
.DS_Store
.classpath
.project
.settings/
.vscode/

deps/hadoop

Manifest.toml

# hidden files
_*